@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap");

.App {
  font-family: "AR One Sans", sans-serif;
  text-align: center;
  background-color: #ced3a3fd;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

main {
  flex-grow: 1;
}

nav {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.logo {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.logo a {
  letter-spacing: 1mm;
  text-shadow: none;
}
button {
  border-radius: 5px;
  border: none;
  padding: 1rem;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

input,
select {
  padding: 1rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

option {
  padding: 23px;
}

option:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}
.active {
  color: var(--primary-color);
}

.dashboard,
.exerciseContainer,
.goalsContainer,
.foodsContainer {
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin: auto;
}
.dashboard .containerBox {
  text-align: center;
}
.containerBox {
  position: relative;
  padding: 1rem;
  text-align: left;
  padding: 1rem;
  border-radius: 5px;
  min-width: 150px;
  max-width: 300px;
  word-wrap: normal;
  background-color: #fff;
  border: 5px solid var(--primary-color);
}

.containerBox svg[data-testid="DeleteOutlineIcon"] {
  position: absolute;
  top: 5px;
  right: 5px;
}
svg:hover {
  cursor: pointer;
  color: var(--primary-color);
}
svg[data-testid="DeleteOutlineIcon"]:hover {
  color: red;
}
.spinner {
  width: 45px;
  height: 45px;
  border: 11.2px black double;
  border-left-style: solid;
  border-radius: 50%;
  margin: auto;
  animation: spinner_animation 0.75s infinite linear;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

footer{
  font-size: 1.5rem;
  padding: 2rem;
}

.emoji {
  font-size: 30px;
}

@keyframes spinner_animation {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 670px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 0.5rem;
    text-align: left;
    margin: auto;
    align-items: center;
  }

  .dashboard,
  .exerciseContainer,
  .goalsContainer,
  .foodsContainer {
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }

  .dashboard {
    max-width: 70%;
  }

  .dashboard > div {
    min-width: 300px;
  }
  .nav {
    min-width: 30%;
    justify-content: space-between;
  }
}
